html,
body {
    max-width: 100%;
    background-color: #FFF3DB;
}

.scroll-container {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    padding-left: 4%;
    padding-right: 4%;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

h1,
h2,
h3,
h4 {
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #335863;
    transition: font-size 0.3s ease;
}

li,
p {
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #3B2517;
    transition: font-size 0.3s ease;
}

h1 {
    font-weight: 300;
    font-size: 60px;
}

h2 {
    font-weight: 300;
    font-size: 36px;
}

h3 {
    font-weight: 200;
    font-size: 32px;
}

h4 {
    font-weight: 200;
    font-size: 24px;
}

li,
p {
    font-weight: 250;
    color: #432d29;
    font-size: 24px;
}

a {
    text-decoration: none;
}

img {
    border: #335863 0.5px solid;
    max-width: 100%;
    object-fit: cover;
}

a, button {
    background-color: #d8e7d9;
    border: 0.5px solid #335863;
    border-radius: 20px;
    padding: 1%;
    font-family: "Petrona", serif;
    font-weight: 200;
    font-size: 28px;
    color: #335863;
    transition: font-size 0.3s ease;
}

.img-row {
    display: flex;
    gap: 4%;
}

.flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

.flex-start h1 {
    margin: 0%;
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.hero-img-container {
    background-image: url('assets/birdseye-view-VSCO.jpg');
    border: #335863 0.5px solid;
    border-radius: 20px;
    width: 90vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.hero-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title h1 {
    margin-bottom: 0%;
}

.header-title h4 {
    margin-top: 0%;
}

.tag-line {
    text-align: center;
}

.tag-line p {
    font-size: 28px;
}

/* REVIEWS */

.reviews-section {
    display: flex;
    max-width: 100%;
    gap: 4%;
}

.reviews-section img,
.amenities-section img {
    width: 100%;
    flex: 0 0 50%;
    border-radius: 20px;
    object-fit: cover;
}

.reviews-carousel {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: calc(390px + 4%);
}

.reviews {
    will-change: transform;
    animation: train 23s linear infinite;
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    padding-right: 20px;
}

.reviews div {
    padding: 4%;
    min-width: 350px;
    max-width: 350px;
    flex-shrink: 0;
}

@keyframes train {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* AMENITIES */

.amenities-section {
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.card {
    border: 1px solid #335863;
    background-color: #d8e7d9;
    width: 20%;
    border-radius: 20px;
    padding: 4%;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-24px);
}

.vertical-gallery {
    display: flex;
    flex-direction: column;
    gap: 4%;
    max-height: 80vh;
    max-width: 50%;

}

.vertical-gallery img {
    width: 100%;
    object-fit: cover;
}

/* THINGS TO DO, TRAVEL AGENTS */

.to-do-section,
.travel-agents-section {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 4vw;
}

/* AS SEEN IN */

.as-seen-in-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

/* GALLERY */

.gallery-section {
    max-width: 100%;
}

.gallery-carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    gap: 4%;
}

.gallery-carousel img {
    scroll-snap-align: center;
    border-radius: 20px;
    height: 60vh;
}

/* FAQ */

.faq-section {
    display: flex;
    align-items: center;
}

.faq-section img {
    height: 50vh;
    border-radius: 20px;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    border: none;
}

.accordion::before {
    content: ' + ';
}

.active::before {
    content: " - ";
}

.accordion:hover {
    color: #578187;
    transform: translateX(24px);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* FOOTER */

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #578187;
    padding: 12%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-width: 75vw;
}

.footer h1,
.footer h3 {
    color: #ece5d9;
}

@media screen and (max-width: 1024px) {

    h1 {
        font-weight: 300;
        font-size: 30px;
        white-space: nowrap;
    }

    h2 {
        font-weight: 300;
        font-size: 20px;
    }

    h3 {
        font-weight: 200;
        font-size: 16px;
    }

    h4 {
        font-weight: 200;
        font-size: 16px;
    }

    li,
    p {
        font-weight: 250;
        color: #432d29;
        font-size: 16px;
    }

    a {
        font-size: 16px;
    }

    .hero-img-container {
        background-image: url('assets/house-and-beach-vertical.JPG');
    }

    .header-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .reviews-section,
    .amenities-section,
    .faq-section,
    .travel-agents-section,
    .to-do-section {
        align-self: flex-start;
        flex-direction: column;
    }

    .faq-section {
        max-width: 100%;
    }

    .card-row,
    .img-row {
        flex-direction: column;
        gap: 4vh;
    }

    .card {
        width: 90%;
        border: #335863 solid 0.5px;
    }

    .small-disable {
        display: none;
    }

}