html,
body {
    max-width: 100%;
    background-color: #faf6ef;
}

.scroll-container {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    padding-left: 4%;
    padding-right: 4%;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

h1,
h2,
h3,
h4 {
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #335863;
}

li,
p {
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #3B2517;
}

h1 {
    font-weight: 500;
    font-size: 52px;
}

h2 {
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-weight: 300;
    font-size: 32px;
}

h4 {
    font-weight: 300;
    font-size: 24px;
}

li,
p {
    color: #432d29;
    font-size: 24px;
}

button {
    background-color: transparent;
    border: none;
    font-family: "Petrona", serif;
    font-weight: 400;
    font-size: 28px;
    color: #335863;
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
}

.hero-img-container {
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.hero-img-container img {
    border-radius: 20px;
    width: 90vw;
    height: 100%;
    object-fit: cover;
}

.hero-heading,
.lower-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    max-width: 100%;
}

.tag-line {
    text-align: center;
}

.tag-line p {
    font-size: 28px;
}

/* REVIEWS */

.reviews-section {
    display: flex;
    max-width: 100%;
    gap: 4%;
}

.reviews-section img,
.amenities-section img {
    width: 100%;
    flex: 0 0 50%;
    border-radius: 20px;
    object-fit: cover;
}

.reviews-carousel {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: calc(390px + 4%);
}

.reviews-carousel:hover .reviews {
    animation-play-state: paused;
}

.reviews {
    will-change: transform;
    animation: train 23s linear infinite;
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    padding-right: 20px;
}

.reviews div {
    padding: 4%;
    min-width: 350px;
    max-width: 350px;
    flex-shrink: 0;
}

@keyframes train {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* AMENITIES */

.amenities-section {
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.card {
    border: 1px solid #335863;
    width: 20%;
    border-radius: 20px;
    padding: 4%;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    background-color: #ece5d9;
    transform: translateY(-24px);
}

/* THINGS TO DO */

.to-do-section {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    gap: 4vw;
}

/* TRAVEL AGENTS */

.travel-agents-section {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

/* AS SEEN IN */

.as-seen-in-section {
    text-align: center;
}

/* GALLERY */

.gallery-section {
    max-width: 100%;
}

.gallery-carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    gap: 4%;
}

.gallery-carousel img {
    scroll-snap-align: center;
    border-radius: 20px;
    height: 60vh;
}

/* FAQ */

.faq-section {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.accordion::before {
    content: ' + ';
}

.active::before {
    content: " - ";
}

.accordion:hover {
    color: #578187;
    transform: translateX(24px);
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* FOOTER */

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #578187;
    margin: 0%;
    padding: 12%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 100vw;
}

.footer h1 {
    color: #ece5d9;
}